---
import { getProduct } from "../../../api/wordpress/products";
import AddToCart from "../../../components/AddToCart.svelte";
import ProductGallery from "../../../components/ProductGallery.svelte";
import Layout from "../../../layouts/Layout.astro";
import { price } from "../../../utils/formatters";

const { slug, lang } = Astro.params;
const product = slug && lang ? await getProduct(slug, lang) : null;

if (!product) {
	return new Response(null, {
		status: 404,
		statusText: 'Not found'
	});
}
---

<Layout
	yoast={product.yoast_head_json}
>
	<article>
		<div class="container">
			<ProductGallery
				images={product.images}
			/>
			<div>
				<h1>{product.name}</h1>
				<div set:html={product.description}></div>

				<div>{price(product.price)}</div>

				<AddToCart
					client:load
					product={product}
				/>
			</div>
		</div>

	</article>
</Layout>

<style lang="scss">
	.container {
		display: grid;
		gap: 1rem;
		grid-template-columns: 50% 50%;
		max-width: 1000px;
		margin-inline: auto;
	}
</style>